[user]
	name = Konrad Markus
	email = konker@iki.fi
[color]
	status = true
	branch = true
	diff = true
[github]
	user = konker
[alias]
	co = checkout
	checkout-pr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr-$1; git branch; git checkout pr-$1; }; f"
	newbranch = "branch --sort=-committerdate"

[core]
	editor = /usr/bin/vim
[giggle]
	main-window-maximized = true
	main-window-geometry = 489x221+179+27
	history-view-vpane-position = 454
