[user]
	name = Konrad Markus
	email = konker@iki.fi
[color]
	status = true
	branch = true
	diff = true
[github]
	user = konker
[alias]
	co = checkout
[core]
	editor = /usr/bin/vim
[giggle]
	main-window-maximized = true
	main-window-geometry = 489x221+179+27
	history-view-vpane-position = 454
